<%= image_tag @user.icon %>
<h1><%= @user.name %></h1>

<p>メールアドレス: <%= @user.email %></p>

<%= link_to session_path(current_user.id), method: :delete do %>
  <i class="fas fa-sign-out-alt fa-2x">logout</i>
<% end %>
