* {
	margin:0 auto;
}

html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  background-color: #fafafa;
}

#wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}

#hwrapper {
  width: 100%;
  background-color: #fff;
}

header {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.container {
  text-align: center;
  margin: auto;
  height: 100%;
  max-width: 800px;
  background-color: #ffffff70;
  padding: 100px 10px;/*フッターの高さ*/
}

#fwrapper {
  width: 100%;
  background-color: #fafafa;
  height:100px;
  position:absolute;
  bottom:0;
}

footer {
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

p,td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

ul {
  padding-left: 0;
}

li {
  padding-bottom: 3px;
  list-style: none;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

label {
  display: block;
}
