* {
	margin:0 auto;
}

html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  background-color: #fafafa;
}

.awesome {
	font-family: FontAwesome;
	content: "\f2cd";
}

.fa-2x {
	color: gray;
}

#wrapper {
  width: 100%;
  position: relative;
  min-height: 100%;
}

#hwrapper {
  width: 100%;
  background-color: #fff;
	border-bottom: solid 1px gray;
}

header {
  margin: auto;
  max-width: 800px;
  padding: 10px;
	display: flex;
}

.container {
  text-align: center;
  margin: auto;
  height: 100%;
  max-width: 800px;
  background-color: #ffffff70;
  padding: 100px 10px;/*フッターの高さ*/
}

#fwrapper {
  width: 100%;
  background-color: #fafafa;
  height:100px;
  position:absolute;
  bottom:0;
}

footer {
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

p,td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

ul {
  padding-left: 0;
}

li {
  padding-bottom: 3px;
  list-style: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#error_explanation {
}

label {
  display: block;
}

// user-new(session)
.user-form {
	color: #999;
	background-color: #fff;
	border: solid 1px #eee;
	padding: 20px;
	width: 50%;
}

// picture(confirm/edit/etc)
input {
	border: solid 1px gray;
  border-radius: 2px;
	margin: 5px;
}
